body {
    margin: 20px; 
}

.traffic-light{
    height: 575px;
    width: 250px;
    background: black;
    border-radius: 10%;
    margin: auto;
    padding: 25px;
    
    
}

 
.circle{   
                height: 150px;
                 width: 150px;
                border-radius: 50%;
                margin: auto;
                padding: 10px;
                }


.red {
    background: red; 
    color: red;
    margin-bottom: 5px;
}

.yellow {
    background: yellow; 
    color: yellow; 
}

.green {
    background: green; 
    color: green;
    margin-top: 5px;
}

.glow{
    box-shadow: 0px 0px 20px 5px; 

}